<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="xGbiKey" value="38e82944bf26e1b5cf91f3b1d4589a18"/>
		<add key="RedirectProcessorUrls" value="https://rh04.goldbach-interactive.de/"/>
		<add key="RedirectProcessorTimeout" value="2"/>
	</appSettings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="RedirectModule" type="RedirectModule"/>
		</modules>
	</system.webServer>
</configuration>
