<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="xGbiKey" value="request-this-key-from-goldbach-interactive"/>
		<!--if you have multiple proccessor urls, you have to separate them with a semicolon-->
		<add key="RedirectProcessorUrls" value="https://rh04.goldbach-interactive.de/;https://rh02.goldbach-interactive.de/"/>
		<!--the timout has to be set in seconds -->
		<add key="RedirectProcessorTimeout" value="2"/>
	</appSettings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="RedirectModule" type="RedirectModule"/>
		</modules>
	</system.webServer>
</configuration>
